// import fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC'); 
@import url('https://fonts.googleapis.com/css?family=Caveat');

@mixin main-transition() {
	-webkit-transition: opacity .12s ease-in-out !important; //chrome
	-moz-transition: opacity .12s ease-in-out !important; // mozilla
	-ms-transition: opacity .12s ease-in-out !important; // iexplorer
	-o-transition: opacity .12s ease-in-out !important; // opera
	transition: opacity .12s ease-in-out !important; 
	&:hover { // on hover
		opacity: 0.9;
	}
}

body {
	background-color: #f8f1e5;
}

ul {
	list-style-type: none;
	position: relative;
}

textarea {
	resize: none;
}

li {
  height: 100px;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover, &:active, &:visited, &:link {
		color: inherit;
		text-decoration: none;
	}
}

.header-main {
	height: 80px;
	padding: 10px;
}

.header__mainTitle {
	position: relative;
	float: left;
	font-family: 'Amatic SC', cursive;
	color: #2f3131 !important;
	font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
}
.header__addButton-container {
	position: relative;
	float: right;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.glyphicon {
	width: 100%;
	height:0;
  margin-top: 8px;
	padding-bottom: 100%;
	cursor: pointer;
	opacity: 1;
	font-size: 40px;
	color: #f9ba32;
	@include main-transition();

}

.list__jumbo {
	padding: 10px;
	padding-left: 30px !important;
	cursor: pointer;
	background-color: #426e86 !important;
	color: #fff !important;
    min-height: 100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
	@include main-transition();
}

.list__title {
	margin-top: 10px;
	font-size: 40px;
	font-family: 'Caveat', cursive;
	display: inline-block;
	min-height: 100%
}

.list__close-button {
	margin-top: 20px;
	color: #f9ba32;
  font-size: 20px;
}

@media screen and (min-width: 992px){
	.container {
		width: 750px
	}
}

@media screen and (max-width: 468px){
  .list__title {
    margin-top: -32px;
    margin-left: 23px;
  }
}
